<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login and Registration</title>
        <!-- Include Tailwind CSS -->
        <script src="https://cdn.tailwindcss.com"></script>
        <link
            href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css"
            rel="stylesheet" />
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>

    </head>

    <body class="bg-gray-50">
        
        <section>
            <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
                
                <a href="#"
                    class="flex items-center mb-6 text-2xl font-semibold text-gray-900">
                    <img class="w-8 h-8 mr-2"
                        src="static/assets/uploads/tuktuk.png"
                        alt="logo">
                    TukTuk
                </a>

                <!-- Sign In -->
                
                <div id="signin"
                    class="w-full relative rounded-xl shadow md:mt-0 sm:max-w-md xl:p-0 ">
                    <div class="absolute -inset-1 rounded-lg bg-gradient-to-r from-[#B983FF] via-[#94DAFF] to-[#99FEFF] opacity-75 blur"></div>
                    <div class="relative bg-white rounded-xl p-6 space-y-4 md:space-y-6 sm:p-8">
                        <h1
                            class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl ">
                            Sign in to your account
                        </h1>
                        <form action="/user/login" method="post"
                            id="loginForm" class="relative space-y-4 md:space-y-6">
                            <div>
                                <label for="username"
                                    class="block mb-2 text-sm font-medium text-gray-900 ">Username</label>
                                <input type="text" name="username"
                                    id="username"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-[#8e70b7] focus:border-[#8e70b7] block w-full p-2.5 "
                                    placeholder="username" required
                                    value="<%=(locals.old_data) ? old_data.username : '' %>">
                            </div>
                            <div>
                                <label for="password"
                                    class="block mb-2 text-sm font-medium text-gray-900 ">Password</label>
                                <input type="password" name="password"
                                    id="password" placeholder="••••••••"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-[#8e70b7] focus:border-[#8e70b7] block w-full p-2.5 "
                                    required
                                    value="<%=(locals.old_data) ? old_data.password : '' %>">
                            </div>
                            <% if(errors != null && errors.length > 0) { %>
                            <% for (let i = 0; i < errors.length; i++) { %>
                            <div
                                class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative"
                                role="alert">
                                <%= errors[i] %>
                            </div>
                            <% } } %>

                            <!-- Remember Me -->
                            <div class="flex items-center justify-between">
                                <div class="flex items-start">
                                    <div class="flex items-center h-5">
                                        <input id="remember"
                                            aria-describedby="remember"
                                            type="checkbox"
                                            class="w-4 h-4 accent-[#8e70b7] border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300">
                                    </div>
                                    <div class="ml-3 text-sm">
                                        <label for="remember"
                                            class="text-gray-500 ">Remember
                                            me</label>
                                    </div>
                                </div>
                            </div>
                            <button type="submit"
                                class="w-full text-white bg-[#8e70b7] hover:bg-[#7d5da4] focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-3.5 text-center ">Sign
                                in</button>
                            <p
                                class="text-sm font-light text-gray-500 ">
                                Don’t have an account yet? <a href="#"
                                    id="signup-link"
                                    class="font-medium text-[#8e70b7] hover:underline ">Sign
                                    up</a>
                            </p>

                        </form>
                    </div>
                </div>

                <!-- Sign up -->
                <div id="signup"
                    class="hidden w-full relative rounded-xl shadow md:mt-0 sm:max-w-md xl:p-0 ">
                    <div class="absolute -inset-1 rounded-lg bg-gradient-to-r from-[#B983FF] via-[#94DAFF] to-[#99FEFF] opacity-75 blur"></div>
                    <div class="relative bg-white rounded-xl p-6 space-y-4 md:space-y-6 sm:p-8">
                        <h1
                            class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl ">
                            Create and account
                        </h1>
                        <form action="/user/register" method="post" novalidate
                            id="registerForm" class="space-y-4 md:space-y-6">
                            <div>
                                <label for="username"
                                    class="block mb-2 text-sm font-medium text-gray-900 ">Your
                                    username</label>
                                <input type="text" name="username" id="username"
                                    value="<%=(locals.old_data) ? old_data.username : '' %>"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-[#8e70b7] focus:border-[#8e70b7] block w-full p-2.5 "
                                    placeholder="username" required>
                            </div>
                            <div>
                                <label for="password"
                                    class="block mb-2 text-sm font-medium text-gray-900 ">Password</label>
                                <input type="password" name="password"
                                    id="password" placeholder="••••••••"
                                    value="<%=(locals.old_data) ? old_data.password : '' %>"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-[#8e70b7] focus:border-[#8e70b7] block w-full p-2.5 "
                                    required>
                            </div>
                            <div>
                                <label for="confirm-password"
                                    class="block mb-2 text-sm font-medium text-gray-900 ">Confirm
                                    password</label>
                                <input type="password" name="confirm-password"
                                    id="confirm-password" placeholder="••••••••"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-[#8e70b7] focus:border-[#8e70b7] block w-full p-2.5 "
                                    required>
                            </div>
                            <div class="flex items-start">
                                <div class="flex items-center h-5">
                                    <input id="terms" aria-describedby="terms"
                                        type="checkbox"
                                        class="w-4 h-4 accent-indigo-700 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 "
                                        required>
                                </div>
                                <div class="ml-3 text-sm">
                                    <label for="terms"
                                        class="font-light text-gray-500">I
                                        accept the <a
                                            class="font-medium text-[#8e70b7] hover:underline"
                                            href="#">Terms and
                                            Conditions</a></label>
                                </div>
                            </div>
                            <button type="submit"
                                class="w-full text-white bg-[#8e70b7] hover:bg-[#7d5da4] focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-3.5 text-center">Create
                                an account</button>
                            <p
                                class="text-sm font-light text-gray-500 ">
                                Already have an account? <a href="#"
                                    id="signin-link"
                                    class="font-medium text-[#8e70b7] hover:underline ">Login
                                    here</a>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <script>
        document.addEventListener('DOMContentLoaded', function () {
            var interBubble = document.querySelector('.interactive');
            var curX = 0;
            var curY = 0;
            var tgX = 0;
            var tgY = 0;

            function move() {
                curX += (tgX - curX) / 20;
                curY += (tgY - curY) / 20;
                interBubble.style.transform = "translate(" + Math.round(curX) + "px, " + Math.round(curY) + "px)";
                requestAnimationFrame(function () {
                    move();
                });
            }

            window.addEventListener('mousemove', function (event) {
                tgX = event.clientX;
                tgY = event.clientY;
            });

            move();
        });
        document.getElementById('signup-link').addEventListener('click', function (event) {
            event.preventDefault();
            document.getElementById('signin').classList.add('hidden');
            document.getElementById('signup').classList.remove('hidden');
        });

        document.getElementById('signin-link').addEventListener('click', function (event) {
            event.preventDefault();
            document.getElementById('signup').classList.add('hidden');
            document.getElementById('signin').classList.remove('hidden');
        });
    </script>
    </body>

</html>