<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TukTuk</title>
        <!-- Include Tailwind CSS -->
        <script src="https://cdn.tailwindcss.com"></script>
        <link
            href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css"
            rel="stylesheet" />
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/th_TH/sdk.js#xfbml=1&version=v19.0" nonce="TAPNJagf"></script>
        <link src="css/globals.css" rel="stylesheet" type="text/css"/>

        <link rel="icon" type="image/x-icon" href="\static\assets\uploads\tuktuk.png">
        <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        clifford: '#da373d',
                    }
                }
            }
        }
        </script>

        <style>
            #card-grid:hover > #warp:not(:hover) #img {
                filter: brightness(0.5) saturate(0.5) contrast(1.2) blur(6px) ;
                /* transition: filter 0.5s; */
                transition: all 0.7s;
            }
        </style>

    </head>

    <body class="bg-gray-50">

        <header>
            <nav class="bg-[#d3cbe7] border-gray-200 px-4 lg:px-6 py-2.5">
                <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl">
                    <a href="/" class="flex items-center">
                        <img src="/static/assets/uploads/tuktuk.png"
                            class="mr-3 h-6 sm:h-9" />
                        <span
                            class="text-[#37294c] self-center text-xl font-bold whitespace-nowrap">TukTuk</span>
                    </a>
                    
                    <!-- upload button -->
                    <a href="/upload"
                        class="inline-flex text-white bg-[#8e70b7] hover:bg-[#7d5da4] focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2">
                        Upload
                        <svg class="ml-2 w-5 h-5 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17h3a3 3 0 0 0 0-6h-.025a5.56 5.56 0 0 0 .025-.5A5.5 5.5 0 0 0 7.207 9.021C7.137 9.017 7.071 9 7 9a4 4 0 1 0 0 8h2.167M12 19v-9m0 0-2 2m2-2 2 2"/>
                        </svg>                          
                    </a>
                        

                    <form id="searchForm" class="flex items-center">
                        <input id="searchInput" type="text"
                            class="w-96 h-10 px-4 text-sm text-gray-800 border-2 border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-[#8e70b7] focus:border-transparent"
                            placeholder="Search for an images" />
                    </form>
                    <div class="flex items-center lg:order-2">

                        <% if(loggedIn) { %>
                        <a href="/logout"
                            class="inline-flex text-white bg-red-500 hover:bg-red-600 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2">Log
                            out
                            <svg class="ml-2 w-5 h-5 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20 12H8m12 0-4 4m4-4-4-4M9 4H7a3 3 0 0 0-3 3v10a3 3 0 0 0 3 3h2"/>
                            </svg>
                        </a>
                        <% } if(!loggedIn) { %>
                        <a href="/login"
                            class="inline-flex text-white bg-[#8e70b7] hover:bg-[#7d5da4] focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2">Log
                            in
                            <svg class="ml-2 w-5 h-5 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 12H4m12 0-4 4m4-4-4-4m3-4h2a3 3 0 0 1 3 3v10a3 3 0 0 1-3 3h-2"/>
                            </svg>
                        </a>
                        <% } %>
                        <button data-collapse-toggle="mobile-menu-2"
                            type="button"
                            class="inline-flex items-center p-2 ml-1 text-sm text-gray-500 rounded-lg lg:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 "
                            aria-controls="mobile-menu-2" aria-expanded="false">
                            <span class="sr-only">Open main menu</span>
                            <svg class="w-6 h-6" fill="currentColor"
                                viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                                    clip-rule="evenodd"></path>
                            </svg>
                            <svg class="hidden w-6 h-6" fill="currentColor"
                                viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                    clip-rule="evenodd"></path>
                            </svg>
                        </button>
                    </div>
                </div>
            </nav>
        </header>

        <div class="rounded-md flex flex-col justify-center items-center mb-20 mt-10">
            <div class="grid grid-cols-2 gap-16">
                <div>
                    <h2 class="text-2xl font-bold text-gray-800 mb-3"><%= data.title %></h2>
                    <img src="<%= data.filepath.replace('/resources', '') %>" alt="<%= data.description %>" class="w-96 rounded shadow-lg mb-5">
                    <div class="text-lg pt-2 px-6 text-center">
                        <p><%= data.description %></p>
                        <p class="font-bold text-base">Tags: <%= data.tags.join(', ') %></p>
                    </div>
                </div>
                
                <div class="mt-11">
                    <a href="/download/<%= data._id %>" class="inline-flex px-6 py-3.5 text-base font-medium text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 shadow-lg shadow-green-500/50 rounded-xl text-center me-2 mb-2">
                        <svg class="mr-2 w-6 h-6 text-white aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 15v2a3 3 0 0 0 3 3h10a3 3 0 0 0 3-3v-2m-8 1V4m0 12-4-4m4 4 4-4"/>
                        </svg>
                        Download
                    </a>
                    <p class="mt-2 text-sm font-bold">Downloads: <%= data.downloadCount %></p>

                    <div class="mt-4">
                        <!-- circle like button -->
                        <button id="like-button" class="text-gray-700 hover:text-white inline-flex items-center justify-center w-12 h-12 border-2 border-gray-500 hover:border-none hover:bg-gradient-to-r focus:ring-4 hover:from-red-400 hover:via-red-500 hover:to-red-600 focus:outline-none focus:outline-ring-gray-600 hover:focus:ring-red-300 shadow-lg hover:shadow-red-500/50 rounded-full text-center me-2 mb-2">
                            <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12.01 6.001C6.5 1 1 8 5.782 13.001L12.011 20l6.23-7C23 8 17.5 1 12.01 6.002Z"/>
                            </svg>
                        </button>

                        <!-- facebook share button -->
                        <button id="share-btn" class="text-gray-700 hover:text-white inline-flex items-center justify-center w-12 h-12 border-2 border-gray-500 hover:border-none hover:bg-gradient-to-r focus:ring-4 hover:from-blue-400 hover:to-blue-600 focus:outline-none hover:focus:ring-blue-300 shadow-lg hover:shadow-blue-500/50 rounded-full text-center me-2 mb-2">
                            <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M7.926 10.898 15 7.727m-7.074 5.39L15 16.29M8 12a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0Zm12 5.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0Zm0-11a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0Z"/>
                            </svg>
                        </button>
                        <p id="like-count" class="mt-2 text-sm font-bold">Likes: <%= data.likeCount %></p>
                    </div>
                </div>
            </div>
        </div>

        <script>
            document.getElementById('searchForm').addEventListener('submit', function (event) {
                event.preventDefault();
                const key = document.getElementById('searchInput').value.trim();

                if (key.length === 0) {
                    Swal.fire("Please enter Tag/Keyword for Images");
                    return;
                }else{
                    window.location.href = `/search/${encodeURIComponent(key)}`;
                }
            });

            document.getElementById('like-button').addEventListener('click', function() {
                fetch('/like/<%= data._id %>', { method: 'POST' })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        document.getElementById('like-count').textContent = 'Likes: ' + data.likeCount;
                        const likeButton = document.getElementById('like-button');
                        if (data.liked) {
                            // Unlike
                            likeButton.innerHTML = `
                                <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                    <path d="m12.75 20.66 6.184-7.098c2.677-2.884 2.559-6.506.754-8.705-.898-1.095-2.206-1.816-3.72-1.855-1.293-.034-2.652.43-3.963 1.442-1.315-1.012-2.678-1.476-3.973-1.442-1.515.04-2.825.76-3.724 1.855-1.806 2.201-1.915 5.823.772 8.706l6.183 7.097c.19.216.46.34.743.34a.985.985 0 0 0 .743-.34Z"/>
                                </svg>
                            `;
                            likeButton.className = 'inline-flex items-center justify-center w-12 h-12 text-white bg-gradient-to-r hover:bg-gradient-to-br focus:ring-4 from-red-400 via-red-500 to-red-600 focus:outline-none focus:ring-red-300 shadow-lg shadow-red-500/50 rounded-full text-center me-2 mb-2';
                        } else {
                            // Like
                            likeButton.innerHTML = `
                                <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12.01 6.001C6.5 1 1 8 5.782 13.001L12.011 20l6.23-7C23 8 17.5 1 12.01 6.002Z"/>
                                </svg>
                            `;
                            likeButton.className = 'text-gray-700 hover:text-white inline-flex items-center justify-center w-12 h-12 border-2 border-gray-500 hover:border-none hover:bg-gradient-to-r focus:ring-4 hover:from-red-400 hover:via-red-500 hover:to-red-600 focus:outline-none focus:outline-ring-gray-600 hover:focus:ring-red-300 shadow-lg hover:shadow-red-500/50 rounded-full text-center me-2 mb-2';
                        }
                    }
                });
            });

            document.getElementById('share-btn').addEventListener('click', function() {
            var url = 'https://www.facebook.com/dialog/share?app_id=your-app-id&href=' + encodeURIComponent('https://www.youtube.com/watch?v=qZqI0uUddUU');
            window.open(url, '_blank', 'width=600,height=400');
            });
        </script>

    </body>
</html>